    /*
    Flaticon icon font: Flaticon
    Creation date: 26/09/2017 15:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-discount:before { content: "\f100"; }
.flaticon-choices:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-briefcase:before { content: "\f103"; }
.flaticon-dollar-symbol:before { content: "\f104"; }
.flaticon-bookmark:before { content: "\f105"; }
.flaticon-folder-1:before { content: "\f106"; }
.flaticon-folder:before { content: "\f107"; }
.flaticon-logout:before { content: "\f108"; }
.flaticon-alarm:before { content: "\f109"; }
    
    $font-Flaticon-discount: "\f100";
    $font-Flaticon-choices: "\f101";
    $font-Flaticon-user: "\f102";
    $font-Flaticon-briefcase: "\f103";
    $font-Flaticon-dollar-symbol: "\f104";
    $font-Flaticon-bookmark: "\f105";
    $font-Flaticon-folder-1: "\f106";
    $font-Flaticon-folder: "\f107";
    $font-Flaticon-logout: "\f108";
    $font-Flaticon-alarm: "\f109";